<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>HomePageLogin</servlet-name>
        <servlet-class>HomePageLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageExit</servlet-name>
        <servlet-class>HomePageExit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsPage</servlet-name>
        <servlet-class>SettingsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrainCLassifierServlet</servlet-name>
        <servlet-class>RetrainCLassifierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsPageServlet</servlet-name>
        <servlet-class>SettingsPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureDetailForUserServlet</servlet-name>
        <servlet-class>PictureDetailForUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureDetailForAdminServlet</servlet-name>
        <servlet-class>PictureDetailForAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryForUserServlet</servlet-name>
        <servlet-class>HistoryForUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryForAdminServlet</servlet-name>
        <servlet-class>HistoryForAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageRegister</servlet-name>
        <servlet-class>HomePageRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageRegisterNewAdmin</servlet-name>
        <servlet-class>HomePageRegisterNewAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageLogin</servlet-name>
        <url-pattern>/HomePageLogin</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>HomePageExit</servlet-name>
        <url-pattern>/HomePageExit</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>HomePageRegister</servlet-name>
        <url-pattern>/HomePageRegister</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>HomePageRegisterNewAdmin</servlet-name>
        <url-pattern>/HomePageRegisterNewAdmin</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>HistoryForUserServlet</servlet-name>
        <url-pattern>/HistoryForUserServlet</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>PictureDetailForUserServlet</servlet-name>
        <url-pattern>/PictureDetailForUserServlet</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>PictureDetailForAdminServlet</servlet-name>
        <url-pattern>/PictureDetailForAdminServlet</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>SettingsPage</servlet-name>
        <url-pattern>/SettingsPage</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>SettingsPageServlet</servlet-name>
        <url-pattern>/SettingsPageServlet</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>RetrainCLassifierServlet</servlet-name>
        <url-pattern>/RetrainCLassifierServlet</url-pattern>
    </servlet-mapping>>
    <servlet-mapping>
        <servlet-name>HistoryForAdminServlet</servlet-name>
        <url-pattern>/HistoryForAdminServlet</url-pattern>
    </servlet-mapping>>
</web-app>